<ng-container *ngIf="productInfo">
  <section class="product">
    <div class="product__images">
      <app-mobile-slider>
        <img
          #img
          *ngFor="let image of productInfo.images"
          [src]="image"
          [alt]="productInfo.title"
        />
      </app-mobile-slider>
      <app-desktop-slider [images]="productInfo.images"> </app-desktop-slider>
    </div>

    <div class="product__info">
      <div class="product__base-info">
        <span>by {{ productInfo.vendor }}</span>
        <h1>{{ productInfo.title }}</h1>
        <p class="product__base-info__price">
          $ {{ productInfo.price_format }}
          <span *ngIf="productInfo.compare_at_price !== productInfo.price">
            $ {{ productInfo.compare_at_price_format }}
          </span>
        </p>
      </div>

      <div class="product__options" *ngFor="let option of productInfo.options">
        <div class="product__option {{ option.name | lowercase }}">
          <p>{{ option.name }}:</p>

          <div class="product__option-values">
            <ng-container *ngIf="option.name === 'Color'">
              <div
                class="product__option-value"
                [attr.data-value]="value"
                *ngFor="let value of option.values"
              >
                <input
                  type="radio"
                  [id]="value"
                  [name]="option.name | lowercase"
                  [value]="value"
                  [(ngModel)]="selectedColor"
                />
                <label [for]="value">
                  <span [ngStyle]="{ background: value | lowercase }"></span>
                </label>
              </div>
            </ng-container>

            <ng-container *ngIf="option.name === 'Size'">
              <div
                class="product__option-value"
                *ngFor="let value of option.values"
                [attr.data-value]="value"
              >
                <input
                  [id]="value"
                  type="radio"
                  [name]="option.value | lowercase"
                  [value]="value"
                  [(ngModel)]="selectedSize"
                />
                <label [for]="value">{{ value }}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="product__footer">
        <div class="product__quantity">
          <div class="product__quantity__mods">
            <button (click)="decreaseQuantity()" [disabled]="quantity === 1">
              -
            </button>
            <input type="number" [(ngModel)]="quantity" />
            <button (click)="increaseQuantity()">+</button>
          </div>

          <p class="product__quantity-price">
            <span>Total price:</span>
            $ {{ totalPriceFormat }}
          </p>
        </div>

        <div class="product__actions">
          <button class="product__button product__button--favourite">
            Add to favourite
          </button>
          <button
            class="product__button product__button--cart"
            [disabled]="!canAddToCart"
            (click)="addToCart()"
          >
            Add to cart
          </button>
        </div>

        <div
          class="product__description"
          [innerHTML]="productInfo.description"
        ></div>
      </div>
    </div>
  </section>
</ng-container>
