.product-slider {
  width: 100%;
  overflow: hidden;
  &__inner {
    display: flex;
    position: relative;
    transition: all 0.2s;
    width: 100%;
  }

  &__pager {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 5px;
    &-item {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
      background-color: #c0c0c0;
      cursor: pointer;

      &.selected {
        background-color: #000;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
